<!DOCTYPE html>
<html>
<head>
  <title>Backend Server</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    .gif-container {
      position: relative;
    }
    .gif-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="jumbotron mt-5 d-flex flex-column align-items-center">
    <h1 class="display-4">El servidor está arriba!</h1>
    <div class="gif-container">
      <iframe src="https://giphy.com/embed/ig3YQU5BGtk1091jRR" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      <div class="gif-overlay"></div>
    </div>
    <p><a href="https://giphy.com/stickers/primevideo-fallout-ccxp-falloutccxp-ig3YQU5BGtk1091jRR">GIPHY</a></p>
  </div>
</div>
</body>
</html>